<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <style>
      #grid-container {
        display: grid;
        height: 75vh;
        width: 75vw;
        grid-template-columns: auto auto;
        align-items: center;
      }
      body{
	      	display: flex;
	      	align-items: center;
	      	justify-content: center;
			margin:0px;
			padding: 0px;
			background-color:#1b203d;
			overflow: hidden;
			font-family: system-ui;
			height: 100vh;
		}
		.clearfix{
			clear: both;
		}
		.logo{
			margin: 0px;
			margin-left: 28px;
		    font-weight: bold;
		    color: white;
		    margin-bottom: 30px;
		}
		.logo span{
			color: #f7403b;
		}
		.sidenav {
		  height: 100%;
		  width: 300px;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: #272c4a;
		  overflow: hidden;
		  transition: 0.5s;
		  padding-top: 30px;
		}
		.sidenav a {
		  padding: 15px 8px 15px 32px;
		  text-decoration: none;
		  font-size: 20px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}
		.sidenav a:hover {
		  color: #f1f1f1;
		  background-color:#1b203d;
		}
		.sidenav{
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		}
		#main {
		  transition: margin-left .5s;
		  padding: 16px;
		  margin-left: 300px;
		}
		.head{
			padding:20px;
		}
		.col-div-6{
			width: 50%;
			float: left;
		}
		.profile{
			display: inline-block;
			float: right;
			width: 160px;
		}
		.pro-img{
			float: left;
			width: 40px;
			margin-top: 5px;
		}
		.profile p{
			color: white;
			font-weight: 500;
			margin-left: 55px;
			margin-top: 10px;
			font-size: 13.5px;
		}
		.profile p span{
			font-weight: 400;
		    font-size: 12px;
		    display: block;
		    color: #8e8b8b;
		}
		.col-div-3{
			width: 25%;
			float: left;
		}
		.box{
			width: 85%;
			height: 100px;
			background-color: #272c4a;
			margin-left: 10px;
			padding:10px;
		}
		.box p{
			 font-size: 35px;
		    color: white;
		    font-weight: bold;
		    line-height: 30px;
		    padding-left: 10px;
		    margin-top: 20px;
		    display: inline-block;
		}
		.box p span{
			font-size: 20px;
			font-weight: 400;
			color: #818181;
		}
		.box-icon{
			font-size: 40px!important;
		    float: right;
		    margin-top: 35px!important;
		    color: #818181;
		    padding-right: 10px;
		}
		.col-div-8{
			width: 70%;
			float: left;
		}
		.col-div-4{
			width: 30%;
			float: left;
		}
		.content-box{
			padding: 20px;
		}
		.content-box p{
			margin: 0px;
		    font-size: 20px;
		    color: #f7403b;
		}
		.content-box p span{
			float: right;
		    background-color: #ddd;
		    padding: 3px 10px;
		    font-size: 15px;
		}
		.box-8, .box-4{
			width: 95%;
			background-color: #272c4a;
			height: 330px;
			
		}
		.nav2{
			display: none;
		}

		.box-8{
			margin-left: 10px;
		}
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  
		}
		td, th {
		  text-align: left;
		  padding:15px;
		  color: #ddd;
		  border-bottom: 1px solid #81818140;
		}
		.circle-wrap {
		  margin: 50px auto;
		  width: 150px;
		  height: 150px;
		  background: #e6e2e7;
		  border-radius: 50%;
		}
		.circle-wrap .circle .mask,
		.circle-wrap .circle .fill {
		  width: 150px;
		  height: 150px;
		  position: absolute;
		  border-radius: 50%;
		}
		.circle-wrap .circle .mask {
		  clip: rect(0px, 150px, 150px, 75px);
		}

		.circle-wrap .circle .mask .fill {
		  clip: rect(0px, 75px, 150px, 0px);
		  background-color: #f7403b;
		}
		.circle-wrap .circle .mask.full,
		.circle-wrap .circle .fill {
		  animation: fill ease-in-out 3s;
		  transform: rotate(126deg);
		}

		@keyframes fill {
		  0% {
		    transform: rotate(0deg);
		  }
		  100% {
		    transform: rotate(126deg);
		  }
		}
		.circle-wrap .inside-circle {
		  width: 130px;
		  height: 130px;
		  border-radius: 50%;
		  background: #fff;
		  line-height: 130px;
		  text-align: center;
		  margin-top: 10px;
		  margin-left: 10px;
		  position: absolute;
		  z-index: 100;
		  font-weight: 700;
		  font-size: 2em;
		}
    </style>
  </head>

  <body>
    <main id="grid-container">
      <div id="grid-element-1">
        <canvas
          id="efficiencyChart"
          style="width: 100%; max-width: 550px"
        ></canvas>
      </div>
      <div id="grid-element-2">
        <!-- style="width:100%;max-width:700px" -->
        <canvas
          id="carbonCharts"
          style="width: 100%; max-width: 550px"
        ></canvas>
      </div>
      <div id="grid-element-3">
        <canvas id="waterChart" style="width: 100%; max-width: 550px"></canvas>
      </div>
      <div id="grid-element-4">
        <canvas
          id="landfillChart"
          style="width: 100%; max-width: 550px"
        ></canvas>
      </div>
      
    </main>
    <script>
      d3.csv("/assets/aircraft_parts_data.csv").then(makeChart);

      var xValues = [];
      var yValues = [];
      var barColors = [
        "#F03B3B",
        "#C84DD5",
        "#1CCBA3",
        "#18983E",
        "#2281D4",
        "#1F18EE",
        "#C3EE18",
        "#EE6D18",
        "#EE1818",
        "#FFCCFF",
      ];

      function makeChart(parts) {
        console.log(parts);
        var PartsName = parts
          .map(function (d) {
            return d["Part Name"];
          })
          .slice(0, 10);
        var material_composition = parts
          .map(function (d) {
            return d["Material Composition"];
          })
          .slice(0, 10);
        for (var i = 0; i < 10; i++) {
          PartsName[i] =
            PartsName[i] +
            `(Material Composition :- ${material_composition[i]})`;
        }
        var Energy_Consumption_Saved = parts
          .map(function (d) {
            return d["Energy Consumption Saved (kWh)"];
          })
          .slice(0, 10);
        var Energy_Consumption_For_New_Parts = parts
          .map(function (d) {
            return d["Energy Consumption - New Parts (kWh)"];
          })
          .slice(0, 10);
        xValues = PartsName;
        for (var i = 0; i < 10; i++) {
          yValues[i] =
            (Energy_Consumption_Saved[i] /
              Energy_Consumption_For_New_Parts[i]) *
            100;
        }
        
        new Chart(document.getElementById("efficiencyChart"), {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [
              {
                backgroundColor: barColors,
                data: yValues,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: "Efficiency Increament Of Some AirCraft Parts",
              position: "bottom",
              align: "center",
            },
            legend: { display: false },
            scales: {
              xAxes: [{ ticks: { min: 6, max: 100 } }],
              yAxes: [{ ticks: { min: 40, max: 160 } }],
            },
          },
        });
      }
    </script>
    <script>
      d3.csv("/assets/aircraft_parts_data.csv").then(makeChart);

      var xValues = [];
      var yValues = [];
      var barColors = [
        "#F03B3B",
        "#C84DD5",
        "#1CCBA3",
        "#18983E",
        "#2281D4",
        "#1F18EE",
        "#C3EE18",
        "#EE6D18",
        "#EE1818",
        "#FFCCFF",
      ];

      function makeChart(parts) {
        console.log(parts);
        var PartsName = parts
          .map(function (d) {
            return d["Part Name"];
          })
          .slice(0, 10);
        var material_composition = parts
          .map(function (d) {
            return d["Material Composition"];
          })
          .slice(0, 10);
        for (var i = 0; i < 10; i++) {
          PartsName[i] =
            PartsName[i] +
            `(Material Composition :- ${material_composition[i]})`;
        }
        var Carbon_Consumption_Saved = parts
          .map(function (d) {
            return d["Carbon Footprint Saved (kg CO2e)"];
          })
          .slice(0, 10);
        console.log(Carbon_Consumption_Saved);
        var Carbon_Consumption_For_New_Parts = parts
          .map(function (d) {
            return d["New Parts Carbon Footprint (kg CO2e)"];
          })
          .slice(0, 10);
        xValues = PartsName;
        for (var i = 0; i < 10; i++) {
          yValues[i] =
            (Carbon_Consumption_Saved[i] /
              Carbon_Consumption_For_New_Parts[i]) *
            100;
        }
        new Chart(document.getElementById("carbonCharts"), {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [
              {
                backgroundColor: barColors,
                data: yValues,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: "% Reduce in Consumption Of Carbon Of Some AirCraft Parts",
              position: "bottom",
              align: "center",
            },
            legend: { display: false },
            scales: {
              xAxes: [{ ticks: { min: 6, max: 100 } }],
              yAxes: [{ ticks: { min: 40, max: 160 } }],
            },
          },
        });
      }
    </script>
    <script>
      d3.csv("/assets/aircraft_parts_data.csv").then(makeChart);

      var xValues = [];
      var yValues = [];
      var barColors = [
        "#F03B3B",
        "#C84DD5",
        "#1CCBA3",
        "#18983E",
        "#2281D4",
        "#1F18EE",
        "#C3EE18",
        "#EE6D18",
        "#EE1818",
        "#FFCCFF",
      ];

      function makeChart(parts) {
        console.log(parts);
        var PartsName = parts
          .map(function (d) {
            return d["Part Name"];
          })
          .slice(0, 10);
        var material_composition = parts
          .map(function (d) {
            return d["Material Composition"];
          })
          .slice(0, 10);
        for (var i = 0; i < 10; i++) {
          PartsName[i] =
            PartsName[i] +
            `(Material Composition :- ${material_composition[i]})`;
        }
        var Water_Consumption_Saved = parts
          .map(function (d) {
            return d["Water Usage Saved (liters)"];
          })
          .slice(0, 10);
        var Water_Consumption_For_New_Parts = parts
          .map(function (d) {
            return d["Water Usage - New Parts (liters)"];
          })
          .slice(0, 10);
        xValues = PartsName;
        for (var i = 0; i < 10; i++) {
          yValues[i] =
            (Water_Consumption_Saved[i] / Water_Consumption_For_New_Parts[i]) *
            100;
        }
        new Chart(document.getElementById("waterChart"), {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [
              {
                backgroundColor: barColors,
                data: yValues,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: "% Reduce in Wastage Of Water Of Some AirCraft Parts",
              position: "bottom",
              align: "center",
            },
            legend: { display: false },
            scales: {
              xAxes: [{ ticks: { min: 6, max: 100 } }],
              yAxes: [{ ticks: { min: 40, max: 160 } }],
            },
          },
        });
      }
    </script>
    <script>
      d3.csv("/assets/aircraft_parts_data.csv").then(makeChart);

      var xValues = [];
      var yValues = [];
      var barColors = [
        "#F03B3B",
        "#C84DD5",
        "#1CCBA3",
        "#18983E",
        "#2281D4",
        "#1F18EE",
        "#C3EE18",
        "#EE6D18",
        "#EE1818",
        "#FFCCFF",
      ];

      function makeChart(parts) {
        var PartsName = parts
          .map(function (d) {
            return d["Part Name"];
          })
          .slice(0, 10);
        var material_composition = parts
          .map(function (d) {
            return d["Material Composition"];
          })
          .slice(0, 10);
        for (var i = 0; i < 10; i++) {
          PartsName[i] =
            PartsName[i] +
            `(Material Composition :- ${material_composition[i]})`;
        }
        var Landfill_Consumption_Saved = parts
          .map(function (d) {
            return d["Landfill Waste Saved (kg)"];
          })
          .slice(0, 10);
        var Landfill_Consumption_For_New_Parts = parts
          .map(function (d) {
            return d["Landfill Waste - New Parts (kg)"];
          })
          .slice(0, 10);
        xValues = PartsName;
        for (var i = 0; i < 10; i++) {
          yValues[i] =
            (Landfill_Consumption_Saved[i] /
              Landfill_Consumption_For_New_Parts[i]) *
            100;
        }
        new Chart(document.getElementById("landfillChart"), {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [
              {
                backgroundColor: barColors,
                data: yValues,
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: "% Reduce in Wastage Of Landfill Of Some AirCraft Parts",
              position: "bottom",
              align: "center",
            },
            legend: { display: false },
            scales: {
              xAxes: [{ ticks: { min: 6, max: 100 } }],
              yAxes: [{ ticks: { min: 40, max: 160 } }],
            },
          },
        });
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
  </body>
</html>